@import url(https://fonts.googleapis.com/css?family=Oxygen|Rubik:300);
$base-font: 'Rubik', Arial, sans-serif;
$base-font-size: 12px;
$white: #DADADB;
$black: #18191d;
$drk-gray: #1F2025;
$lt-gray: #353741;
$lt-green: #B8D087;
$green: #00996D;

@mixin bg-gradient {
  background: linear-gradient(135deg, $lt-green, $green);
}
@mixin shadow {
  box-shadow: 0 16px 28px 0 rgba(0,0,0,.8),0 25px 55px 0 rgba(0,0,0,0.21);
}

html,
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: $base-font;
  font-size: $base-font-size;
  letter-spacing: $base-font-size/20;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  @include bg-gradient;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  user-select: none;
}

.hidden {
  display: none;
}

.container {
  @include shadow;
  width: 290px;
  height: 420px;
  background-color: $drk-gray;
  color: $white;
}

.header {
  text-align: center;
  padding: 0 20px 20px 30%;
  font-size: $base-font-size*1.3;
  border-bottom: solid $black 1px;
}

.timer {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.timer-display {
  color: $lt-green;
  font-size: $base-font-size*3;
  margin-top: 60px;
  margin-left: 10px;
  text-align: center;
}

svg#gradient {
    width: 100px;
    height: 40px;
    vertical-align: bottom;
    pointer-events: none;
    text {
      fill: url(#linearGradient);
    }
}

#status {
  text-align: center;
  height: 20px;
  margin-top: -30px;
  margin-bottom: 30px;
  color: lighten($lt-gray, 20%);
}

.start {
  @include bg-gradient;
  @include shadow;
  width: 290px;
  text-align: center;
  color: white;
  padding: 20px 20px;
  cursor: pointer;
  &:hover {
    background: $green;
  }
  &:active {
    @include bg-gradient;
  }
}

.inner-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-48%, -73.5%);
}

.outer-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-48%, -73.5%);
  z-index: 1;
}

//progress bar styles
.progress-color0 {
  fill: url(#greenGradient);
}

.progress-color1 {
  fill: $lt-gray;
}

#action-title {
  position: absolute;
  font-size: $base-font-size/1.5;
  left: 50%;
  margin-top: 0;
  transform: translate(-50%,-50%);
  background: $drk-gray;
  padding: 5px 20px;
  border-radius: 20px;
  border: solid lighten($lt-gray, 20%) 1px;
}

.actions {
  display: flex;
  align-items: center;
  text-align: center;
   color: lighten($lt-gray, 20%);
  div {
    
    padding-bottom: 0;
    flex: 1;
  }
}

.set-timer,
.set-break {
  padding-top: 20px;
  border: solid $black 1px;
}

.set-timer {
  border-right: none;
  border-left: none;
}

.set-break {
  border-right: none;
}

.set-display {
  color: $white;
  font-size: $base-font-size*1.4;
  padding-top: 10px;
}
.actions {
  .minus-add {
    font-size: $base-font-size*1.5;
    display: flex;
    padding: 0;
    justify-content: center;
    div {
      cursor: pointer;
      margin: 1px;
      padding:  5px;
      margin-bottom: 10px;
      flex: .5;
      &:hover {
        color: $white;
      }
      &:active {
        color: $lt-gray;
      }
    }
  }  
}

.spinner-container {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  margin-top: -40px;
  transform: translate(-50%, -50%);
}

.spinner-mask {
  position: absolute;
  background-color: $drk-gray;
  height: 45px;
  width: 50px;
  margin-top: 181px;
  left: 200px;
  transform: translate(-50%,-50%);
  z-index: 2;
}

$offset: 187;
$duration: 1.2s;

.spinner {
  transform: rotate(150deg);
  animation: rotator $duration linear infinite;
}

@keyframes rotator {
  0% { transform: rotate(150deg); }
  20% { transform: rotate(200deg); }
  100% { transform: rotate(390deg); }
}

.spinning {
  stroke-dasharray: $offset;
  stroke-dashoffset: 185;
  transform-origin: center;
  animation:
    dash $duration infinite, 
    colors $duration infinite;
}

@keyframes colors {
	0% { stroke: $lt-green; }
	50% { stroke: $green; }
  100% { stroke: $lt-green; }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 185;
  }
  50% {
    stroke-dashoffset: 175;
  }
  100% {
    stroke-dashoffset: 185;
  }
 // 0% { stroke-dashoffset: $offset; }
 // 50% {
 //   stroke-dashoffset: $offset/1.2;
 // }
 // 100% {
 //   stroke-dashoffset: $offset;
 // }
}
